{% extends 'web_base.html.twig' %}

{% set subtitle = 'Hudba' %}

{% block content %}
<h1 class="offset-bottom">{{ data.musicTitle}}</h1>
<article>
  {{ data.musicText|raw}}
</article>
{% endblock %}
