{% extends 'web_base.html.twig' %}

{% set subtitle = 'Akce' %}

{% block content %}
<section class="offset-bottom">
  <h1 class="offset-bottom">Nadcházející akce</h1>
  {% if latestEvents|length > 0 %}
    {% include 'OlesnicaWebBundle:_partials:list_of_events_big.html.twig' with { events: latestEvents } %}
  {% else %}
    <p class="lead">Aktuálně nejsou naplánovány žádné akce.</p>
  {% endif %}
</section>
<hr>
<section class="offset-bottom clearfix">
  <h1 class="offset-bottom">Minulé akce</h1>
  {% include 'OlesnicaWebBundle:_partials:list_of_events_big.html.twig' with { events: recentEvents } %}
  <div class="text-center">
    <a href="{{ path('olesnica_web_events_recent') }}" class="btn btn-success">všechny minulé akce</a>
  </div>
</section>
{% endblock %}
