.make-carousel-background(@image) {
  .@{image} {
    background-image: url('@{base-path}/images/@{image}_xs.jpg');
    height: @carousel-xs-height;
    background-size: cover;
    background-position: center;

    @media (min-width: @screen-xs-min) {
      height: @carousel-sm-height;
      background-image: url('@{base-path}/images/@{image}_sm.jpg');
    }

    @media (min-width: @screen-sm-min) {
      height: @carousel-md-height;
      background-image: url('@{base-path}/images/@{image}_md.jpg');
    }

    @media (min-width: @screen-md-min) {
      background-image: url('@{base-path}/images/@{image}_lg.jpg');
    }
  }
}

.make-carousel-background(jizdakralu);
.make-carousel-background(masopust);
.make-carousel-background(soubor);

.owl-theme .owl-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px #555 solid;
}
