{% extends 'web_base.html.twig' %}

{% set hasSidebar = true %}

{% set subtitle = 'Repertoár' %}

{% block content %}

<div class="col-md-8 col-sm-8">
  <article>
    <h1 class="offset-bottom">{{ data.repertoireTitle }}</h1>
    {{ data.repertoireText|raw }}
  </article>
</div>
<hr class="visible-xs-block">
{% endblock %}

{% block sidebar %}

<div class="col-md-4 col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Poslední vystoupení</div>
    <div class="panel-body">
      {% include 'OlesnicaWebBundle:_partials:list_of_events.html.twig' with {events: recentPerformances} %}
    </div>
  </div>
</div>
{% endblock %}
