{% extends 'web_base.html.twig' %}

{% block content %}
<article>
  <div class="col-md-6 col-sm-6">
    <h1>Hanácký národopisný soubor Olešnica Doloplazy</h1>
    <p>
      je občanské sdružení, které se věnuje uchovávání lidových zvyků, písní, tanců a krojů na Hané.
      Hanácké zvyky a tradice prezentuje na mnoha tuzemských a zahraničních folklórních festivalech a akcích.
    </p>
    <p>
      Repertoár souboru tvoří lidové zvyky a tance zahrnující celoroční život prostého hanáckého lidu.
      Vybrané zvyky jsou zpracovány do tématických pásem.
      Jindy se jedná o samostatné tance, které lze libovolně vhodně propojovat a navazovat.
    </p>
    <p>
      HNS Olešnica Doloplazy o. s. je zároveň dlouholetým organizátorem tradiční národopisné slavnosti Jízda králů v Doloplazích,
      která se koná každoročně o prvním červencovém víkendu.
    </p>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="picture-box">
      <img src="{{ asset('assets/images/soubor.jpg') }}" class="img-responsive" alt="Hanácký národopisný soubor Olešnica Doloplazy">
      <div class="picture-label">
        Hanácký národopisný soubor Olešnica Doloplazy
      </div>
    </div>
  </div>
</article>
<hr>
<article>
  <div class="container-fluid">
    <h1>Historie souboru</h1>
    <p>
      Snahy zachovat hanácký folklor v naší obci se datují do období těsně po válce.
      Největší zásluhu o vznik a podporu těchto snah měla skupina přátel pana Bohumila Zdařila a jeho manželky,
      pan Augustýn Navrátil, manželé Dočkalovi, Tomečkovi, Malíčkovi a další.
      Jejich zájem o hanácký folklór, o znovu prezentování dávno zapomenutých hanáckých tanců, písní, zvyků, o připomenutí nářečí,
      o znovu oživení hanáckého kroje a jeho součástí, byly hlavní pohnutky, které je vedly.
    </p>
    <p>
      V roce 1947 byla v obci uspořádána první velká hanácká slavnost Hanácká svatba.
      V té době začala spolupráce s paní Marií Vařechovou z Prostějova,
      která vyšívala kroje a s některými činovníky hanáckého souboru Mánes z Prostějova,
      kteří ochotně předávali své zkušenosti. V padesátých letech již pod záštitou spolku Orel,
      místní organizace hasičů nebo zahrádkářů připravovaly další hanácké slavnosti.
      V roce 1951 na slavnosti Kácení máje vystoupil v Doloplazích hanácký soubor z Troubek na Přerovsku.
      O šest let později, v roce 1957, se konala velká národopisná slavnost Hanácká svatba zpracovaná podle Stanislava Krejčího.
      Na slavnostním programu se podílely národopisné skupiny z Troubek, Veselíčka, Dolan, Prostějova a Droždína.
    </p>
    <p>
      V dalších letech jakoby tato národopisná činnost v Doloplazích ustala.
    </p>
    <p>
      Až v roce 1968 k 50. výročí založení republiky uspořádali Bohumil Zdařil,
      Ing. Václav Tomeček, Jaroslav Dočkal, Jan Malíček a další národopisnou slavnost Hanácké dožínky.
      Jako hosté v programu vystoupili soubory Hanačka ze Slatinic a Mánes z Prostějova.
    </p>
    <p>
      Manželé Kabelandrovi z Troubek spolu s národopisnou skupinou tanečníků nacvičili i s doloplazskými tanečníky Moravskou besedu.
      O úspěchu programu a celé slavnosti svědčí to, že skupina z Doloplaz byla pozvána na vystoupení do Drahlova.
      Nácvik tedy pokračoval a tak vlastně došlo k  tomu, že byl při místní Osvětové besedě 11. 7. 1969 založen hanácký soubor.
      V té době měl soubor 29 dospělých členů a současně založený dětský soubor čítal 16 dětí.
      Na jedné z prvních zkoušek se členové souboru domluvili na tom, že soubor dostane jméno Olešnica podle místního názvu nedalekého potoka.
      Organizační vedoucím souboru se stal Ing.Václav Tomeček.
      Jedno z prvních vystoupení souboru bylo 24. srpna 1969 v obci Velký Týnec na Chmelařské slavnosti.
      Soubor Olešnica tenkrát tancoval Moravskou besedu, dospělí i děti dohromady.
      Toto vystoupení bylo významné tím, že se zde členové souboru seznámili s Dr. Aloisem Běhalem z Přerova.
      Hanáckým folklórem se Dr.Běhal zabýval již celou řadu let, vedl soubor při železničním učilišti v Přerově a pracoval pro soubor z Troubek.
      Navázal kontakt s našimi nadšenými tanečníky a přislíbil svoji spolupráci.
      Svůj slib dodržel a stal se na dlouhou řadu let nacvičovatelem a choreografem souboru.
      Nacvičoval a učil naše tanečníky hanácké tance sebrané a zapsané paní Ludmilou Mátlovou.
      Jeho spolupráce s naším souborem měla pro další období souboru nesmírný význam.
      Z dalších významných osobností, které se zasloužily o kvalitní program souboru je nutné jmenovat učitele zpěvu a výborného hudebníka Františka Švarce,
      jeho zásluhou měl soubor výbornou hanáckou kapelu.
      S úctou a vděčností dodnes vzpomínáme také na lidového vypravěče a zpěváka Josefa Kubáče a další členy souboru.
    </p>
    <p>
      Činnost souboru se zdárně rozvíjela, přibývalo nových členů, především dětí a mládeže.
      Koncem května roku 1972 odjížděl soubor na svůj první zahraniční zájezd do NDR na 3. festival lužicko–srbské kultury v počtu 70-ti členů.
      Choreografii a nácvik po Dr. Běhalovi velmi úspěšně převzali kmenoví členové souboru Pavel Zdařil a Iva Zdařilová,
      kteří postupně připravovali nový materiál pro všechny složky souboru. Tak vznikla tématická pásma Svatba, Hody,
      Odvedenecká, Regruti, ale i jiné samostatné tance a programy.
    </p>
    <p>
      V 80. letech se soubor účastnil mnoha vystoupení nejen v České republice,
      ale i v zahraničí například v Bulharsku, Dánsku, Maďarsku, Rakousku, NDR, Francii.
      Na počátku 90. let soubor prodělal generační krizi, kterou překonal jen pomocí organizačního vedoucího pana Ing. Václava Tomečka
      a pana Pavla Zdařila, který obnovil nácvik tanců a přípravu nových tanečníků. Přivedl tak do souboru novou generaci.
      Po absolvování prvních vystoupení v České republice následoval první zahraniční zájezd do polského města Jaroslaw
      na Mezinárodní folklórní festival. V následujících letech soubor pravidelně prezentoval hanácké zvyky,
      písně a tance na mnoha vystoupeních a festivalech u nás i v zahraničí.
      Naše taneční pásma se snažila potěšit a přiblížit hanáckou lidovou kulturu divákům v Rakousku,
      Slovensku, Slovinsku, Itálii, Holandsku, Srbsku.
    </p>
    <p>
      V této době převzal vedení souboru Miroslav Bílek a choreografii Iva Zdařilová.
      Do 90. let měl soubor vlastní hudbu a dnes spolupracuje s lidovou muzikou Jana Malíčka,
      který je zároveň autorem úprav notových zápisů.
    </p>
    <p>
      Od svého založení soubor pořádá pod hlavičkou Osvětové besedy Doloplazy mnohé kulturní akce.
      Nejvýznamnější z nich je národopisná slavnost Jízda králů, ve které se divákům každý rok představí některé z domácích,
      ale i mnohé zahraniční soubory.
    </p>
  </div>
</article>

{% endblock %}

{% block sidebar %}
{% endblock %}
