{% block form_legend %}
{% endblock form_legend %}

{% form_theme form 'OlesnicaAdminBundle:Form:fields.html.twig' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ form.vars.label |trans({},"forms")}}
    </div>
    <div class="panel-body">
        {{ form(form, {'attr': {'novalidate': 'novalidate' }}) }}
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
