{% extends 'web_base.html.twig' %}

{% set subtitle = 'Galerie' %}

{% block content %}
  <div class="container">
    <h1>Galerie</h1>
    <br /><br /><br /><br /><br /><br />
  </div>
{% endblock %}
