{% extends 'web_base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set subtitle = 'Kontakty' %}

{% block content %}
<h1 class="offset-bottom">Kontakty</h1>
<address>
<h2>Hanácký národopisný soubor Olešnica Doloplazy, z. s.</h2>
<span class="lead">
  Doloplazy 9<br />
  78356 Doloplazy<br />
  Česká republika
</span>
</address>
<p class="lead">
  IČ: 28554043
</p>
<p class="lead offset-bottom">
  Email: <a href="mailto:olesnica@olesnica.cz">olesnica@olesnica.cz</a><br>
  Telefon: <a href="tel:+420777563233">+420 777 563 233</a>
</p>
<h2>Kontaktujte nás</h2>
<div class="offset-bottom clearfix">
  {{form_start(form) }}
  {{form_row(form.email) }}
  {{form_row(form.body) }}
  <div class="form-group">
    <input type="submit" class="btn btn-default pull-right" value="Odeslat">
  </div>
  {{form_end(form) }}
</div>
{% endblock %}
